h1 {
    font-family: 'Times New Roman', Times, serif;
    color: forestgreen
}

#otherh1 {
    color: mediumseagreen;
}

.list2 {
    color: darkorange;
}

#p2 {
    color:white;
    background-color: teal;
    font-family: cursive;
    width: fit-content;
    height: 4rem;
    padding: 20px;
}

body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}